body {
    margin: 0;
}

#navbar {
    height: 15vh;
    background-color: teal;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar h1 {
    margin: 5px 20px;
}

#navbar input {
    padding: 0px 15px;
    height: 35px;
    flex: 1;
    border-radius: 20px;
    outline: none;
    border: 1px solid;
    font-size: 16px;
    margin: 5px 20px;
}