:root {
    --background-black-color: #020d11;
    --footer-text-color: #fff;
    --footer-pael-header-color: #FCB716;
}



#footerRoot {
    /* border: 1px solid red; */
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    
}

.footerLinks-logo img{
    max-width: 105px;
    display: block;
    margin: auto;
}


@media (min-width: 768px) {
    .footerLinks {
        padding-top: 30px;
        padding-bottom: 10px;
    }
}
.footerLinks{
    padding: 30px 20px 10px 20px;
    background-color: var(--background-black-color);
    /* border: 1px solid red; */
}
.footerLinks>ul{
    padding-left: 20px;
    margin: 0;
    list-style-type: none; 
}


.footerLinks-PanelRoot{
    padding: 0 8px;
}
.footerLinks-PanelHeader{
    color: #02475b;
    margin: 0 !important;
    padding: 0;
    font-size: 14px;
    min-height: 30px !important;
    text-align: left;
    align-items: flex-start;
    font-weight: 600;
    /* border: 1px solid red; */
    
}

.footerLinks-collapse{
    color: var(--footer-pael-header-color);
    margin-left: -20px;
    min-height: 20px;
    font-weight: 600;
    /* border: 1px solid red; */
}

@media (max-width:767.95px) {
   
    .footerLinks-PanelRoot{
        border-bottom: 1px solid rgba(35, 43, 46, 0.86);
    }
    .footerLinks {
       
        padding-bottom: 70px;
    }
    .footerLinks>ul{
        padding-left: 0;
    }
    .footerLinks-PanelHeader {
        /* border-bottom: 1px solid rgba(35, 43, 46, 0.86); */
        padding-bottom: 10px;
    }
    .footerLinks-collapse {
        color: #fff !important;
        margin-top: 7px;
        margin-left: 0;
        padding-left: 6px;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    .footerLinks-logoMd1{
        padding-top: 6px;
        padding-bottom: 10px;
    }
    .footerLinks-logo img{
        padding-top: 12px;
        padding-bottom: 9px;
    }
}

.footerLinks-expandedIcon{
    opacity: 0;
}
@media (max-width:767.95px) {
    .footerLinks-expandedIcon{
        opacity: 1;
        padding-right: 5px;
    }
}
.footerLinks-defaultOpen{
    display: block;
}

.footerLinks-PanelDetails {
    display: flex;
    /* border: 1px solid black; */
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 10px 0;
    color: var(--footer-text-color);
    padding: 10px 0 10px 5px;
}


@media (max-width:768px) {
    .footerLinks-PanelDetails {
        display: flex;
        flex-direction: column;
        color: var(--footer-pael-header-color);
        padding-left: 30px;
    }
    .footerLinks-PanelDetails li {   
        list-style-type: none !important;
    }
    .footerLinks-defaultOpen{
        display: none;
    }
  
}

.footerLinks-PanelDetails li {
    /* border: 1px solid teal; */
    margin-right: 30px;
    list-style-type: disc;
    line-height: 27px;
    font-weight: 400;  
}