:root {
    --background-black-color: #020d11;
    --footer-text-color: #fff;
    --footer-pael-header-color: #FCB716;
}



#footerRoot {
    /* border: 1px solid red; */
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
    
}

.footerLinks-logo img{
    max-width: 105px;
    display: block;
    margin: auto;
}


@media (min-width: 768px) {
    .footerLinks {
        padding-top: 30px;
        padding-bottom: 10px;
    }
}
.footerLinks{
    padding: 30px 20px 10px 20px;
    background-color: var(--background-black-color);
    /* border: 1px solid red; */
}
.footerLinks>ul{
    padding-left: 20px;
    margin: 0;
    list-style-type: none;
   
}

.footerLinks-PanelRoot{
    padding: 0 8px;
}

.footerLinks-PanelHeader{
    color: var(--footer-pael-header-color);
    margin-left: -20px;
    min-height: 20px;
    font-weight: 600;
}
.footerLinks-expandedIcon{
    opacity: 0;
}

.footerLinks-PanelDetails {
    display: flex;
    /* border: 1px solid black; */
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 10px 0;
    color: var(--footer-text-color);
    padding: 10px 0 10px 5px;
}

.footerLinks-PanelDetails li {
    /* border: 1px solid teal; */
    margin-right: 30px;
    list-style-type: disc;
    line-height: 27px;
    font-weight: 400;
    
}