:root {
    --body-background-color: #dcdfce;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    outline: 0;
}

body {
    color: #02475b;
    margin: 0;
    font-size: 14px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    line-height: 1.43;
    background-color: var(--body-background-color);
}

body::backdrop {
    background-color: var(--body-background-color);
}

#mainContainer {
    padding-top: 88px;
    padding-bottom: 0;
    width: 1064px;
    /* height: 500px; */
    /* border: 1px solid teal; */
    /* background-color: white; */
    margin: auto;


}

.headerPart {
    width: 100%;
    /* border: 1px solid blue; */
    /* height: 300px; */
    max-width: 1064px;
    margin: auto;
}

.header {
    height: 90px;
    display: flex;
    position: relative;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
    background-color: #fff;
    /* border: 1px solid red; */
    width: 100%;
}

@media (max-width:767.95px) {
    ._header {
        height: 70px;
    }
}

#fixedHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    margin: auto;
}

.logo {
    height: 88px;
    display: block;

    padding: 32px 37px 12px 16px;
    /* padding top changed from 12px */
}

@media (max-width:899.95px) {
    .logo {
        height: 72px;
        padding: 13px 0 13px 10;
    }
}

.logo img {
    width: 80px;
    /* border: 1px solid red; */
}

@media (max-width:899.95px) {
    .logo img {
        width: 60px;
    }
}

.rightNavbar {
    width: 100%;
    height: 100%;
    display: flex;
    min-width: 530px;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid pink; */
}


.navigationTab {
    width: 100%;
    /* height: 100%; */
    display: flex;
    min-width: 530px;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width:899.95px) {
    .navigationTab {
        height: 72px;
        min-width: 120px;
    }
}

.navigation {
    height: 100%;
    display: flex;
    font-size: 13px;
    align-items: center;
    /* border: 1PX solid teal; */
}

.navigation a {
    color: #02475b;
    height: 100%;
    display: flex;
    padding: 12px 6px;
    font-size: 16px;
    min-width: 85px;
    align-items: flex-start;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}

@media (max-width:899.95px) {
    .navigation a {
        display: none;
    }
}

.tabName {
    display: inline-block;
    font-size: 13px !important;
    line-height: 18px !important;
    border-bottom: 1px solid #01475b;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.subTabName {
    display: block;
    opacity: 0.6;
    font-size: 12px !important;
    line-height: 17px !important;
    padding-top: 3px;
}

#cartId {
    color: #02475b;
    cursor: pointer;
    height: 100%;
    display: flex;
    padding: 16px;
    padding-left: 5px;
    position: relative;
    font-size: 13px;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
}

.cartId img {
    vertical-align: middle;
}

.cartId>a {
    display: block;
    padding: 0;
    position: relative;
}

.cartId:focus {
    outline: none;
}

@media (max-width:899.95px) {
    .cartId {
        width: 56px;
    }
}

.login {
    width: 48px;
    cursor: pointer;
    height: 48px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: #afc3c9;
    margin-right: 10px;
    margin-left: 5px;
}

@media (max-width:767.95px) {
    .login {
        width: 40px;
        height: 40px;
    }
}

.login1 {
    border-radius: 50%;
    background-color: #02475b;
    color: white;
}

/* cart icon start  */
.material-symbols-rounded {

    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

/* cart icon end */



/* Mobile Navbar bottom part ******************** */

.mobNavigation {
    width: 100%;
    bottom: 0;
    z-index: 99;
    position: fixed;
    box-shadow: 0 -10px 30px 0 rgb(0 0 0 / 60%);
    min-height: 65px;
    align-items: flex-end;
    margin: auto;
    height: 56px;
    display: flex;
    justify-content: center;
    background-color: #fff;

}

@media (min-width: 899.5px) {
    .mobNavigation {
        display: none;
    }
}

.mobNavigationBtn {
    width: 20%;
    height: 65px;
    min-width: 72px;
    text-align: center;



}

.mobNavigationBtn-action {
    flex: 1;
    color: rgba(0, 0, 0, 0.54);
    /* padding: 6px 12px 8px; */
    max-width: 168px;
    min-width: 80px;
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
}

.mobNavigationBtn-base {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.mobNavigationIcon {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

   
}
.mobNavigationIcon i{
    font-style: normal;
    /* font-weight: 400; */
    font-variant: normal;
    text-transform: none;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0;

   
}