.moboleNav{
    display: none;
    width: 100%;
    padding: 21px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.moboleNav i{
    font-size: 24px;
    margin-right: 5px;
}
.moboleNavLeft{
    display: flex;
    align-items: center;
}

@media (max-width: 599.5px){
    .moboleNav{
        display: flex !important;
    }
    .header{
        height: 65px !important;
    }
    #fixedHeader{
        height: 88px;
        background-color: white;
    }
    .logo{
        display: none !important;
    }
}













.paymentContainer{ 
    background: #fff;
    padding: 20px;
    /* height: 100%; */
    box-sizing: border-box;
    margin-bottom: 0;
    /* border: 1px solid red; */
}
#mainContainer{
    padding-bottom: 0 !important;
}

.paymetnHeaderLap{
    padding: 0 0 10px;
    border-bottom: 1px solid rgba(2,71,91, 0.2);
}
.paymetnHeaderLapText{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.cardAmountSec{
    display: flex;
    /* justify-content: space-between; */
    margin-left: -15px;
    margin-right: -15px;
}
.cardAmountSec>div:first-child{
   /* border: 1px solid red; */
   width: 80%;
   min-width: 550px;
}


@media (max-width: 899.95px){
    .cardAmountSec{
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
    }
    .cardAmountSec>div:first-child{
        width: 96%;
        min-width: 200px;
    }
    .paymetnHeaderLap{
        display: none;
    }

  
}









.cardSection{
    padding: 15px;
}
.debitCredit{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 0.5px solid #d4d4d4;
    background-color: #f0f8ff;
}
.paymentAccordionSec{
    background: #fafeff;
    border: 1px solid #d4d4d4;
    padding-bottom: 0.8px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.paymentAccordion{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 0.5px solid #d4d4d4;
    background-color: #f0f8ff;
    font-size: 14px;
    font-weight: 600;
    /* font-family: ibm_plex_sanssemibold; */
    text-transform: uppercase;
}
.payWithNewCard3{
    width: 100%;
    display: flex;
    justify-content: space-between ;
}

.plusIcon .fa-plus{
    border: 1px solid;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.payWithNewCard{
    display: flex;
    justify-content: space-between;
}
.payWithNewCardLeft{
    display: flex;
    justify-content: space-between;
}
.payWithNewCardLeft .payWithName{
    text-transform: capitalize;
    font-weight: 500;
}

.fa-circle-check{
    font-size: 18px;
    color: gray;
    opacity: 0.5;
}

.PaymentOpenClose{
    /* height: inherit; */
    box-sizing: border-box;
    background: #fafeff;
    /* display: none; */
    
}



.paymentMethods{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paymentMethods p{
    margin: 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    
}
.paymentMethods>p>img{
    height: 30px;
    margin: 0 5px;
}















.amountSec{
    padding: 15px;
}
.totalChargeText{
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
}
.totalChargeDiv{

    background: #fafeff;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    padding: 10px 20px;
}
.totalChargeDiv > div{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 5px 0;
}
.subTotal{
    border-bottom: 1px solid #d4d4d4;
}


.bankOfferHeader{
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
}
.bankOfferHeader img{
    margin: 0 5px 5px;
    color: #02475b;
}
.bankOfferHeaderText{
    margin-bottom: 5px;
}
.bankOfferElements{
    background: #fafeff;
    border: 1px solid #d4d4d4;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 20px;
}

.bankOfferElements ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.offerInfo>div{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.offerCompany{
    display: flex;
    align-items: center;
}
.offerCompany >div{
    font-weight: 600;
    
}
.offerCompany img{
    height: 30px;
    margin-right: 5px;
}



/* Pay on Delivery */
.payOnDelivery{
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.payOnDeliveryLeft{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.payOnText p{
    margin: 0;
}
.payOnDelivery>a ,.walletList a{
    display: block;
    text-align: right;
    font-size: 13px;
    color: #fc9916;
    cursor: pointer;
    margin: 5px;
    padding-right: 5px;
    word-break: break-word;
    text-transform: uppercase;
    
}

/* Net Banking  */
.netBankingDiv{
    padding: 10px 20px;
}
.netBankingList{
    list-style-type: none;
    display: flex;
    font-weight: 500;
    justify-content: space-evenly;
    padding: 0;
}
.netBankingList img{
    height: 26px;
    width: 26px;
}


/* wallet  */
.walletList{
    list-style-type: none; 
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.walletList img{
    max-height: 36px;
    max-width: 36px;
    object-fit: contain;
}
.walletList a{
    font-weight: 600;
}
.walletList li{
    padding: 10px;
    border-bottom: 0.5px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.walletList>li>div{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}



/* UPT payment  */
.upiPayment{
    padding: 10px 20px;
}
.upiPayment11{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.upiPayment11>label{
   padding: 5px;
   font-size: 12px;
}

.upiInput form{
    padding-left: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* flex-direction: row; */
}
#upiInputBox{
    background: #fff;
    border: 2px solid #00b38e;
    border-radius: 4px;
    flex: 1;
   
    height: 25px;
    padding: 5px;
    margin-right: 10px;
    outline: none;
    font-size: 14px;
    line-height: 18px;
    color: #02475b;
    min-width: 20px;
}

.upiVerifyBtn{
    border: none;
    border-radius: 5px;
    background: #fc9916;
    color: #fff;
    transition: all .5s ease; 
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    word-wrap: break-word;
    min-width: 20px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;

    
}
#upiVerifyBtn{
    position: relative;
}
.upiNotValid{
    margin: 0;
    font-size: 12px;
    color: #cf8f6a;
    position: absolute;
    left: 10px;
    bottom: -14px;
}


.upiVerifyBtnOff{
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;  
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;
}







.upiPayment11 ul{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    list-style-type: none;
    padding: 0;
    overflow: auto;
    padding: 5px 10px;
    
}
.upiPayment11 ul::-webkit-scrollbar{
    display: none;
}
.upiPayment11>ul>li{
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    
}



/* Card payment  */

.cardPay{
    box-sizing: border-box;
}
.cardPay1{
    padding: 5px 20px;
    /* position: relative; */
    /* height: 100px; */
}
#CardNumberBox, #cardHolderFullNameBox{
    width: 100%;
    flex: 1;
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 30px !important;
    border-bottom: 2px solid #00b38e !important;
} 

.cardHolderFullName{
    margin-top: 10px;
}
.dateCcvBtn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

@media (max-width: 700px){
    .dateCcvBtn{
       display: block;
       position: relative;
       height: 100px;
    }
    .cardPayBtn{
        position: absolute;
        right: 0;
        bottom: -30;
        margin-top: 10px;
    }

}
.dataCcv{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 5px;
}
#validTillMonthBox, #validTillYearBox{
    width: 20%;
    flex: 1;
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 30px !important;
    /* border-bottom: 2px solid #00b38e !important; */
} 
#userCcvBox{
    width: 100%;
    flex: 1;
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 30px !important;
    border-bottom: 2px solid #00b38e !important;
    padding: 5px;
    font-size: 14px;
} 
.userCCV{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.validTill{
    margin-right: 30px;
    /* width: 200px; */
    max-width: 150px;
    padding: 0;
}
.validTill >div{
    border-bottom: 2px solid #00b38e;
    width: 100%;
}

.cardPayBtnBox{
    border: none;
    border-radius: 5px;
    background: #fc9916;
    color: #fff;
    transition: all .5s ease; 
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    word-wrap: break-word;
    min-width: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;
    
}

#cardPayBtnBoxOff{
    
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;  
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%) !important;
    background-color: #fed984;
}
.cardHolderFullName label, .validTill>label, .userCCV>label{
    color: #02475b;
    font-size: 12px;
    font-weight: 500;
}

@media (max-width: 599.5px){
   
    .totalCharge{
        display: none !important;
    }
    .paymentContainer{
        padding-top: 0;
    }
    .bankOfferHeader{
        margin-top: 0;
    }
}

.validTillYearBox{
    pointer-events: none !important; 
    cursor: not-allowed !important;
}
.invalidCardNum{
    display: block !important;
    margin: 0;
    font-size: 12px;
    color: #cf8f6a;
    /* position: absolute;
    left: 10px;
    bottom: -14px; */
}
.invalidMonthYear{
    display: block !important;
    margin: 0;
    border-bottom: none !important;
    font-size: 12px;
    color: #cf8f6a;
    /* position: absolute;
    left: 10px;
    bottom: -14px; */
    margin-bottom: -18px;
}
.saveThiCard{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

